<template>
  <v-footer color="blue-grey" class="white--text" app>
    <span class="margin-left"><strong>PlaCon</strong> - Planeje suas contas de forma consciente</span>
    <v-spacer></v-spacer>
    <span class="margin-right">&copy; 2018</span>
  </v-footer>
</template>

<script>
  export default {
    props: ['state']
  }
</script>

<style>
  .margin-left {
    margin-left: 15px;
  }
  .margin-right {
    margin-right: 15px;
  }
</style>