<template>
  <v-navigation-drawer fixed v-model="state.drawer" app>
    <v-list dense>
      <v-list-tile @click.stop="state.left = !state.left">
        <v-list-tile-action>
          <v-icon>list_alt</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>
            <router-link to="lista-desejos">Lista de desejos</router-link>
          </v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
import AppApi from '~apijs'
export default {
  props: ['state'],
  // watch: {
  //   question: function (newQuestion, oldQuestion) {
  //     this.answer = 'Waiting for you to stop typing...'
  //     this.debouncedGetAnswer()
  //   }
  // },
  // methods: {
  //   getAnswer:  function () {
  //     if (this.question.indexOf('?') === -1) {
  //       this.answer = 'Questions usually contain a question mark. ;-)'
  //       return
  //     }
  //     this.answer = 'Thinking...'
  //     var vm = this
  //     axios.get('https://yesno.wtf/api')
  //     .then(function (response) {
  //       vm.answer = _.capitalize(response.data.answer)
  //     })
  //     .catch(function (error) {
  //       vm.answer = 'Error! Could not reach the API. ' + error
  //     })
  //   }
  // }
}
</script>

<style scoped>
  .list__tile__title>a{
    color: #607d8b;
    text-decoration: none;
  }
  .list__tile__title>a:hover {
    color: #3746b7;
  }
</style>
