<template>
  <v-data-table
    :headers="headers"
    :items="wishlist"
    no-data-text="Nenhum registro existente"
    hide-actions
    class="elevation-1"
    xs12 sm12
  >
    <template slot="items" slot-scope="props">
      <td class="text-xs-right">{{ props.item.name }}</td>
      <td class="text-xs-left">{{ props.item.value }}</td>
      <td class="text-xs-left">{{ props.item.days }}</td>
      <td class="text-xs-right">{{ props.item.category }}</td>
      <td class="text-xs-left">{{ props.item.save_money }}</td>
      <td class="justify-center layout px-0">
        <v-icon
          small
          class="mr-2 cursor-pointer"
          @click="editItem(props.item)"
        >
          edit
        </v-icon>
        <v-icon
          small
          class="cursor-pointer"
          @click="deleteItem(props.item)"
        >
          delete
        </v-icon>
      </td>
    </template>
  </v-data-table>
</template>

<script>

import AppApi from '~apijs'
import {wishlistServerBus} from './lista-desejos-form.vue'
export default {
  data: () => ({
    headers: [
      {text: 'Nome', value: 'name'},
      { text: 'Valor', value: 'value' },
      { text: 'Daqui quantos dias', value: 'days' },
      { text: 'Categoria', value: 'category' },
      { text: 'Economizar por dia', value: 'save_money' },
      { text: 'Actions', value: 'name', sortable: false }
    ],
    wishlist: []
  }),
  mounted () {
    AppApi.list_wishlist().then(response => { 
      this.wishlist = response.data.wishlist
    });
    wishlistServerBus.$on('insertWishList', (item) => {
      console.log(item.data);
      this.wishlist.push(item.data);
    });
  },
  methods: {
    editItem (wishlist) {
      wishlistServerBus.$emit('wishlist', wishlist);
    },
    deleteItem(wishlist) {
      const item = wishlist;
      if (confirm('Você tem certeza que deseja remover o este registro?')){
        AppApi.remove_wishlist(wishlist);
      }
    }
  }
}
</script>

<style>
  .elevation-1 {
    width: 100%;
  }
  .cursor-pointer {
    cursor: pointer;
  }
</style>