<template>
  <v-form class="v-form" ref="form" v-model="valid">
    <h1 class="title">Lista de desejos</h1>
    <v-text-field
      v-model="record.name"
      :rules="nameRules"
      placeholder="Viagem para Machu Picchu"
      label="Nome"
      required
    ></v-text-field>

    <v-text-field
      v-model="record.value"
      :rules="valueRules"
      type="number"
      label="Valor (R$)"
      placeholder="500,00"
      required
    ></v-text-field>
    
    <v-text-field
      type="number"
      v-model="record.days"
      :rules="daysRules"
      label="Daqui quantos dias"
      placeholder="90"
      required
    ></v-text-field>

    <v-select
      :items="items"
      v-model="record.category"
      auto
      label="Categoria"
      hide-details
      prepend-icon="category"
      single-line
    ></v-select>
    <v-flex>
      <v-btn
        :loading="loading"
        :disabled="!valid"
        color="blue-grey"
        class="white--text"
        @click="submit"
      >
        {{!oldRecord ? 'Salvar' : 'Atualizar'}}
        <v-icon right dark>save</v-icon>
      </v-btn>
      <v-btn
        :disabled="oldRecord === undefined"
        color="blue-grey"
        class="white--text"
        @click="cancel"
      >
        Cancelar
        <v-icon right dark>cancel</v-icon>
      </v-btn>
    </v-flex>
  </v-form>
</template>

<script>
import Vue from 'vue'
import AppApi from '~apijs'

export const wishlistServerBus = new Vue();

export default {
  data: () => ({
    valid: false,
    loader: null,
    loading: false,
    oldRecord: undefined,
    record: {
      id: '',
      name: '',
      value: '',
      days: '',
      category: '',
      save_money: 0,
    },
    items: ['Academia', 'Equipamentos', 'Pet', 'Presente', 'Veículos', 'Viagens'],
    nameRules: [
      v => !!v || '"Nome" é obrigatório',
    ],
    valueRules: [
      v => !!v || '"Valor" é obrigatório',
      v => Number(v) > 0 || '"Valor" precisa ser maior quer zero'
    ], 
    daysRules: [
      v => !!v || '"Daqui quantos" dias é requerido'
    ]
  //   itemsDetails: [
  //     {
  //       name: 'Academia',
  //       icon: 'fitness_center',
  //     },
  //     {
  //       name: 'Equipamentos Eletrônicos',
  //       icon: 'settings_cell'
  //     },
  //     {
  //       name: 'Pet',
  //       icon: 'pets',
  //     },
  //     {
  //       name: 'Presente',
  //       icon: 'card_giftcard',
  //     },
  //     {
  //       name: 'Veículos',
  //       icon: 'directions_car',
  //     },
  //     {
  //       name: 'Viagens',
  //       icon: 'flight_takeoff',
  //     }
  //   ]
  }),
  created() {
    wishlistServerBus.$on('wishlist', (item) => {
      this.oldRecord = Object.assign({}, item);
      this.record = item;
    })
  },
  methods: {
    submit () {
      if (this.$refs.form.validate()) {
        this.loading = true;
        this.adding = true;
        AppApi.save_wishlist(this.record).then(response => {
          wishlistServerBus.$emit('insertWishList', response);
          this.loading = false;
          this.record = {};
          this.oldRecord = undefined;
          this.$refs.form.reset();
        })
      }
    },
    cancel () {
      this.record = {};
      this.oldRecord = undefined;
      this.$refs.form.reset();
    }
  }
}
</script>

<style>
  .v-form {
    width: 100%;
  }
  .v-form>h1.title{
    color: #777;
    margin-bottom: 10px;
  }
  .v-form>.container>.layout>.flex {
    padding: 8px;
  }
  .input-group__details {
    margin-bottom: 8px;
  }
</style>
