<template>
  <v-layout justify-center align-center>
    <h3>Planeje suas finanças de forma consciente! Faça uma lista de desejos calculando o quanto precisará economizar por dia para alcançar seu sonho em um prazo determinado ;)</h3>
  </v-layout>
</template>

<script>

export default {
  data () {
    return {}
  }
}
</script>

<style>
</style>
