<template>
  <v-layout row wrap>
    <div v-if="logged_user">
      <desejos-form/>
      <v-divider inset></v-divider>
      <desejos-lista/>
    </div>
    <div v-else>
      <p>Faça login no sistema para utilizar o sistema.</p>
      <img>
    </div>
  </v-layout>
</template>

<script>
import Vuex from 'vuex'

import desejosForm from '~/components/desejos/lista-desejos-form.vue'
import desejosLista from '~/components/desejos/lista-desejos-lista.vue'

export default {
  layout: 'placon',
  components: {
    desejosForm,
    desejosLista
  },
  computed: Object.assign(
    {},
    Vuex.mapGetters([
      'logged_user'
    ])
  ),  
  data () {
    return {}
  }
}
</script>

<style>
  .divider.divider--inset{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 1px;
  }
</style>